# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\4all\Projeto Servicos Locadora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
